@model AddPasswordViewModel
@{
	ViewBag.Title = "Add Password";
}
<h3>Add password for local account link to external login</h3>
<form method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="Password">Password</label>
		<input asp-for="Password" />
		<span asp-validation-for="Password"></span>
	</div>
	<div>
		<label asp-for="confirmPassword">Confirm Password</label>
		<input asp-for="confirmPassword" />
		<span asp-validation-for="confirmPassword"></span>
	</div>
	<button type="submit">Add Password</button>
</form>