@model ChangePasswordViewModel
@{
	ViewBag.Title = "Change Password";
}
<h1>Change Password</h1>
<form method="post">
	<div asp-validation-summary="All"></div>
	<div>
		<label asp-for="oldPassword">Old Password</label>
		<input asp-for="oldPassword" />
		<span asp-validation-for="oldPassword"></span>
	</div>

	<div>
		<label asp-for="newPassword">New Password</label>
		<input asp-for="newPassword" />
		<span asp-validation-for="newPassword"></span>
	</div>
	<div>
		<label asp-for="confirmNewPassword">Confirm New Password</label>
		<input asp-for="confirmNewPassword" />
		<span asp-validation-for="confirmNewPassword"></span>
	</div>
	<button type="submit">Change Password</button>
</form>