@model ForgotPasswordViewModel
@{
	ViewBag.Title = "Forgot Password";
}
<h1>Forgot Password</h1>
<form method="post">
	<div asp-validation-summary="All">
		
	</div>
	<label asp-for="Email">Email</label>
	<input asp-for="Email" />
	<span asp-validation-for="Email"></span>
	<button type="submit">Reset</button>
	<a asp-action="Login">Cancel</a>
</form>