@model ResetPasswordViewModel
@{
	ViewBag.Title = "Reset Password";
}
<h1>Reset Password</h1>
<form method="post">
	<div asp-validation-summary="All"></div>
	<input hidden asp-for="Email"/>
	<input hidden asp-for="token" />
	<div>
		<label asp-for="Password">Password</label>
		<input asp-for="Password"/>
		<span asp-validation-for="Password"></span>
	</div>
	<div>
		<label asp-for="ConfirmPassword">Confirm Password</label>
		<input asp-for="ConfirmPassword" />
		<span asp-validation-for="ConfirmPassword"></span>
	</div>
	<button type="submit">Reset</button>
</form>