@model EditRoleViewModel
@{
	ViewBag.Title = "Edit Role";
}
<h1>Edit Role</h1>
<form method="post" asp-action="EditRole" asp-controller="Administration">
	
	@for (int i = 0; i < Model.Users.Count; i++)
	{
		<input asp-for="Users[i]" hidden />
	}
	<div>
		<label asp-for="Id"></label>
		<input asp-for="Id" disabled/>
		<span asp-validation-for="Id"></span>
	</div>
	<div>
		<label asp-for="RoleName"></label>
		<input asp-for="RoleName" />
		<span asp-validation-for="RoleName"></span>
	</div>
	<div asp-validation-summary="All"></div>
	<button type="submit">Update</button>
	<a asp-action="ListRole" asp-controller="Administration">Cancel</a>
</form>
<div>
	@if (Model.Users.Any())
	{
		<div class="card mb-3">
			<div class="card-header">
				<h1> User In This Role</h1>
			</div>
			@for (int i = 0; i < Model.Users.Count; i++)
			{

				<div class="card-body">
					<h5 class="card-title">@Model.Users[i]</h5>
				</div>
			}
		</div>
	}
	else
	{
		<div class="card mb-3">
			<div class="card-header">
				<h1> User In This Role</h1>
			</div>
			<div class="card-body">
				<h5 class="card-title">None at the moment</h5>
			</div>
		</div>
	}
	<a asp-action="EditUsersInRole" asp-controller="Administration" class="btn btn-primary" asp-route-RoleId="@Model.Id">Add Or Remove Users</a>
	
</div>